body {
  background: #ffc600;
}

.inbox {
  max-width: 400px;
  background-color: white;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

label {
  padding: 10px;
  flex: 1;
  font-size: 18px;
  border-left: 1px solid black;
}

input {
  margin: 10px;
}
